@model HotelIntegratedComputerSystems.Models.NotAuthorizedViewModel
@{
    ViewBag.Title = "Nice Try ;)";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not_Authorized</title>
</head>
<body>
    <br />
    <h2>
    <span class="glyphicon glyphicon-warning-sign"></span> You are not authorized to access this page.
        </h2>
</body>
</html>
