
@{
    ViewBag.Title = "DeleteError";
}

<h2></h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Delete Building Error</h3>
    </div>
    @Html.Partial("_CannotDeleteError")

    <div class="form-actions no-color">
        @Html.ActionLink("Back to List", "Index")
    </div>
    </div>
