@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "DeleteError";
}

<h1 class="text-danger">This Entry Cannot Be Deleted At This Time.</h1>
<h2 class="text-danger">In Order To Delete This Entry, It Must Not Be Used In Other Items.</h2>
